#videos-modal {
  width: 90%;
  background-color: white;
  max-width: 100%;
  h3 {
    margin-left: 10vmin;
    font-size: 40px;
    font-weight: 700;
  }
  #youtube-btn {
    background-color: var(--purple);
    margin-right: 10vmin;
    padding: 5px 15px;
    a {
      color: white;
    }
  }
  p {
    color: var(--purple);
    width: 310px;
  }
  .modal-dialog {
    width: 100%;
    max-width: 100%;
  }
  .modal-content {
    top: 80px !important;
    padding: 10px 0 100px 0;
    position: static;
  }
  .videos-modal-hdr {
    display: flex;
  }
  .videos-box {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 525px) {
  .videos-hdr h3 {
    margin-left: 10px;
    margin-right: 0px;
  }
  #videos-modal {
    h3 {
      margin-left: 10px;
    }
    .videos-box {
      margin: 20px 2%;
    }
  }
}