#mobile-nav {
    background: white;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    position: fixed;
    margin-top: 3em;
    ul {
        padding-top: 50px;
        padding-left: 0;
    }
    li {
        list-style: none;
        text-align: center;
        padding: 1rem;
        font-size: 1.3rem;
        width: 175px;
        margin: 0 auto;
    }
    a {
        color: var(--purple);
        text-decoration: none;
    }
}

#mobile-nav-icon-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    i {
        font-size: 35px;
    }
}