.feature-box {
    width: 600px;
    height: 343px;
    position: absolute;
    left: 5%;
    top: 230px;
    display: flex;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 650px) {
    .overlay {
        background-color: transparent;
        border: 0;
    }
}

.feature-video-overlay {
    // background-color: rgba(255, 255, 255, .3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

#latest-video-button {
    background-color: var(--purple);
    border: 0;
    color: white;
    border: 2px solid var(--purple);
    z-index: 1;
    text-align: center;
}

.feature-video-youtube-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
    color: red;
    font-size: 40px; // background-color: aliceblue;
    padding: 0 2px;
    border-radius: 5px;
}

#feature-img {
    width: 100%;
    border: 5px solid black;
}

#feature-content-box {
    display: flex;
    flex-flow: column;
    height: 360px;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    margin-left: 20%;
}

@media only screen and (max-width: 650px) {
    .feature-box {
        width: 90%;
        height: 40%;
    }
    #feature-content-box {
        margin-top: 10px;
        justify-content: flex-start;
        width: 100%;
        margin-left: 3%;
    }
}

@media only screen and (max-width: 550px) {
    .feature-box {
        height: 30%;
    }
}

#youtube-icon {
    margin-right: 10px;
    font-size: 16px;
    color: red;
}

#youtube-logo {
    width: 75px;
    position: absolute;
    bottom: 25px;
    right: 10px
}

@media screen and (max-width: 650px) {
    #youtube-logo {
        display: none;
    }
}