.videos-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

#video-section {
    padding: 100px 0;
    background-color: var(--purple);
    
    p {
        color: var(--lightBlue);
        width: 310px;
    }

    h3 {
        color: aliceblue;
        margin-left: 15%;
        margin-bottom: 40px;
    }
}

.video {
    margin: 10px;

    p {
        margin-top: 8px;
    }
}

#more-videos-btn {
    background-color: white;
    border: 0;
    margin-bottom: 15px;
    color: black;
    margin-top: 15px;
    margin-right: 100px;
    // color: var(--lightBlue);
    
    &:hover {
        background-color: var(--lightBlue);
        color: var(--purple);
        // border: 2px solid var(--blue);
    }
}