:root {
  font-size: 100%; // 1rem = 16px
  --purple: #181860;
  --lightPurple: #b5b5f0;
  --lighterGrey: #ebebeb;
  --blue: #52a9dc;
  --mediumBlue: #66bef1;
  --lightBlue: #a0d5f3;
  --lighterBlue: #e1f2fc;
  --orange: #f78534;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

//  U N I V E R S A L   F O N T   S T Y L E S 
@font-face {
  font-family: Metropolis;
  src: url(/fonts/Metropolis-ExtraBold.otf) format('otf');
}

h1 {
  font-family: Metropolis, sans-serif;
  font-size: 55px;
}

.h2 {
  font-family: Metropolis, sans-serif;
  font-size: 60px;
}

.h3 {
  font-family: Metropolis, sans-serif;
  font-size: 25px;
}

.p {
  font-family: Metropolis, sans-serif;
}

.li {
  font-family: Metropolis, sans-serif;
}

.modal-dialog {
  border-radius: 10px;
}

//  U N I V E R S A L   F O R M   S T Y L E S 
label {
  font-family: Metropolis, sans-serif; // font-size: 1.4em;
  // width: 200px;
  // color: white;
}

a {
  text-decoration: none;
}