#exit-thankyou {
    width: 18px;
    position: absolute;
    top: 20px;
    right: 10px;
}

#thankyou-modal {
    position: relative;
}

.thankyou-hdr,
.thankyou-body {
    padding: 0 50px 50px 50px; // position: absolute;
}

.thankyou-hdr {
    padding-top: 50px;
    padding-bottom: 0px;
    position: absolute;
    h5 {
        color: var(--purple);
        font-size: 30px;
    }
}

.thankyou-body {
    position: absolute;
    top: 100px;
}

#lights-in-hand {
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .thankyou-hdr,
    .thankyou-body {
        padding: 10px 10px 10px 10px; // position: absolute;
    }
}